/* IMPORT GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

/* TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* FOR ALL */
* {
    margin: 0;
    padding: 0;
    font-family: 'Alice', serif;
    user-select: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* BODY */
body {
    overflow-x: hidden;
}

/* BODY SCROLLBAR */
body::-webkit-scrollbar {
    display: none;
}

/* TEXTAREA SCROLLBAR */
textarea::-webkit-scrollbar {
    display: none;
}

/* NUMBER INPUT SPIN BUTTON */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}